run_me.sh
python_al_dense_report/
python_ai_report_dir_2
python_ai_report_dir/
note.md
configurations_files/config.json
python_ai_code/__pycache__
python_al_dense_code/trash
python_al_dense_code/__pycache__
python_al_dense_code/*.so
python_al_dense_code/al_dense_cython_lib.c